@import "@tesseract/ui/globals.css";

/* Light mode */
:root {
  /* Brand/Palette Colors */
  --color-1: #245F63;
  --color-2: #8CC8AB;
  --color-3: #CEC6C3;
  --color-4: #D5A694;
  --color-5: #D8CDB8;
  --color-6: #EED4AF;
  --color-7: #2C9BB6;
  --color-8: #FFD292;

  --background: var(--color-5);
  --bg-n-98: var(--color-8);

  --foreground: var(--color-1);
  --card: #fff;
  --bg-accent: var(--color-2);

  --card-foreground: var(--color-1);
  --popover: #fff;
  --popover-foreground: var(--color-1);
  --border: var(--color-3);
  --input: var(--color-3);
  --ring: var(--color-2);

  /* Primary */
  --primary: var(--color-1);
  --primary-10: #163a3d;
  --primary-20: #276e73;
  --primary-30: #328185;
  --primary-40: #43979b;
  --primary-50: #5bb3b4;
  --primary-60: #75cec8;
  --primary-70: #8cc8ab;
  --primary-80: #b0dbca;
  --primary-90: #c4eae3;
  --primary-foreground: #fff;

  /* Secondary */
  --secondary: var(--color-2);
  --secondary-10: #497a84;
  --secondary-20: #55a07e;
  --secondary-30: #7bbf8d;
  --secondary-40: #8CC8AB;
  --secondary-50: #AEE5CF;
  --secondary-60: #C4EAD8;
  --secondary-70: #D8F5EA;
  --secondary-80: #E8F9F0;
  --secondary-90: #F4FFFC;
  --secondary-foreground: var(--color-1);

  /* Tertiary */
  --tertiary: var(--color-4);
  --tertiary-10: #a77e6f;
  --tertiary-20: #ba947d;
  --tertiary-30: #cba994;
  --tertiary-40: #d5a694;
  --tertiary-50: #e2c3ae;
  --tertiary-60: #edd2bf;
  --tertiary-70: #f3e3d6;
  --tertiary-80: #f7ede5;
  --tertiary-90: #fcf7f2;
  --tertiary-foreground: var(--color-1);

  /* Error */
  --error: #d95959;
  --error-10: #b13535;
  --error-20: #c74a4a;
  --error-30: #d95959;
  --error-40: #e06c6c;
  --error-50: #e99494;
  --error-60: #f3bebe;
  --error-70: #fae2e2;
  --error-80: #f9ecec;
  --error-90: #fff9f9;
  --error-foreground: #fff;

  /* Text */
  --text: var(--color-1);
  --text-50: #6fa09b;
  --text-100: #fff;

  /* Secondary text */
  --text-secondary: #6B8587;
  --text-secondary-50: #AFC7C9;
  --text-secondary-100: #FFFFFF;

  /* Destructive */
  --destructive: #d95959;
  --destructive-foreground: #fff;

  /* Muted */
  --muted: var(--color-3);
  --muted-foreground: #6b8587;

  /* Accent */
  --accent: var(--color-7);
  --accent-foreground: #fff;

  /* Chart colors */
  --chart-1: var(--color-1);
  --chart-2: var(--color-2);
  --chart-3: var(--color-3);
  --chart-4: var(--color-4);
  --chart-5: var(--color-5);

  /* Sidebar */
  --sidebar: var(--color-4);
  --sidebar-foreground: var(--color-1);
  --sidebar-primary: var(--color-7);
  --sidebar-primary-foreground: #fff;
  --sidebar-accent: var(--color-2);
  --sidebar-accent-foreground: var(--color-1);
  --sidebar-border: var(--color-3);
  --sidebar-ring: var(--color-6);
}

/* Dark mode */
.dark {
  --background: #222826;
  --bg-n-98: var(--color-1);

  --foreground: #fff;
  --card: #2c3533;
  --bg-accent: var(--color-7);

  --card-foreground: #fff;
  --popover: #29302e;
  --popover-foreground: #fff;
  --border: var(--color-2);
  --input: var(--color-2);
  --ring: var(--color-7);

  /* Primary */
  --primary: var(--color-2);
  --primary-10: #4a7c7e;
  --primary-20: #53ad98;
  --primary-30: #6ec0ad;
  --primary-40: #8cc8ab;
  --primary-50: #a3e1d0;
  --primary-60: #b9f2e6;
  --primary-70: #D0F9F2;
  --primary-80: #e6faf6;
  --primary-90: #f4fffb;
  --primary-foreground: var(--color-1);

  /* Secondary */
  --secondary: var(--color-4);
  --secondary-10: #926b5d;
  --secondary-20: #a98484;
  --secondary-30: #ba948f;
  --secondary-40: #d5a694;
  --secondary-50: #e2c3ae;
  --secondary-60: #edd2bf;
  --secondary-70: #edd2bf;
  --secondary-80: #f3e3d6;
  --secondary-90: #fcf7f2;
  --secondary-foreground: #fff;

  /* Tertiary */
  --tertiary: var(--color-5);
  --tertiary-10: #baa270;
  --tertiary-20: #d2c49c;
  --tertiary-30: #e5dabf;
  --tertiary-40: #e8dbcb;
  --tertiary-50: #f3e9d3;
  --tertiary-60: #f7ecd6;
  --tertiary-70: #fff7e2;
  --tertiary-80: #fff9ec;
  --tertiary-90: #fffdfa;
  --tertiary-foreground: var(--color-1);

  /* Error */
  --error: #f17c7c;
  --error-10: #cb4242;
  --error-20: #e75c5c;
  --error-30: #f17c7c;
  --error-40: #f5a6a6;
  --error-50: #f8c9c9;
  --error-60: #fceded;
  --error-70: #fff9f9;
  --error-80: #fff5f5;
  --error-90: #fffdfa;
  --error-foreground: #18130c;

  /* Text */
  --text: #fff;
  --text-50: #c8e3df;
  --text-100: #29302e;

  /* Secondary text */
  --text-secondary: #AFC7C9;
  --text-secondary-50: #6B8587;
  --text-secondary-100: #29302e;

  /* Destructive */
  --destructive: #e75c5c;
  --destructive-foreground: #18130c;

  /* Muted */
  --muted: var(--color-3);
  --muted-foreground: #6b8587;

  /* Accent */
  --accent: var(--color-7);
  --accent-foreground: #fff;

  /* Chart colors */
  --chart-1: var(--color-1);
  --chart-2: var(--color-2);
  --chart-3: var(--color-3);
  --chart-4: var(--color-4);
  --chart-5: var(--color-5);

  /* Sidebar */
  --sidebar: var(--color-3);
  --sidebar-foreground: #29302e;
  --sidebar-primary: var(--color-7);
  --sidebar-primary-foreground: #fff;
  --sidebar-accent: var(--color-2);
  --sidebar-accent-foreground: #29302e;
  --sidebar-border: var(--color-2);
  --sidebar-ring: var(--color-6);
}
